.form p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: rgb(63, 63, 63);
}
.submit {
  font-size: 15px;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
  background-color: var(--brand-color);
  text-decoration: none;
  font-weight: bold;
}
.submit:hover {
  color: var(--brand-color);
  background-color: white;
  border: 1px solid var(--brand-color);
}
